@{
    PageData["title"] = "MiniTrello | Register";
}
<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
        <form role="form">
            <h2>Change Password <small>Please fill the blank</small></h2>
            <hr class="colorgraph">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="form-group">
                        <input type="password" name="contra" id="contra" ng-model="changePasswordModel.Password" class="form-control input-lg" placeholder="Password" tabindex="1">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="form-group">
                        <input type="password" name="confirm_password" id="confirm_password" ng-model="changePasswordModel.ConfirmPassword" class="form-control input-lg" placeholder="Confirm Password" tabindex="2">
                    </div>
                </div>
            </div>
         
           
            

            <hr class="colorgraph">
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <button type="submit" ng-click="changePassword()" class="btn btn-primary btn-block btn-lg" tabindex="7">Change Password</button>
                </div>
                
            </div>
        </form>
    </div>
</div>
