@{
    PageData["title"] = "Mini Trello | Recover Password";
}
<div class="row" ng-show="hasError">
    <p>{{errorMessage}}</p>
</div>
<div class="row" style="margin-top:20px">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
        <form role="form">
            <fieldset>
                <h2>Please Give your email</h2>
                <hr class="colorgraph">
                <div class="form-group">
                    <input type="email" name="email" ng-model="recoverPasswordModel.Email" id="email" class="form-control input-lg" placeholder="Email Address">
                </div>
                
                <hr class="colorgraph">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <button ng-click="recoverPassword()" class="btn btn-lg btn-success btn-block">Send</button>
                    </div>
                    
                </div>
            </fieldset>
        </form>
    </div>
</div>
