<connectionStrings>
  <add name="MiniTrello.Local" connectionString="Data Source=(localdb)\Projects;Initial Catalog=MiniTrello;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"/>
  <add name="MiniTrello.Remote" connectionString="Server=a7f7bcaf-0f9d-4f76-b9e5-a2fa01773348.sqlserver.sequelizer.com;Database=dba7f7bcaf0f9d4f76b9e5a2fa01773348;User ID=czwohcsimazpszhm;Password=RVBqtkHfsBA4dvNR7FkQcKmjixNcSFvPApsVqMy3vUpXMYqhumMkSHBgHsg5EFvU;"/>
</connectionStrings>