<connectionStrings>
  <add name="MiniTrello.Local" connectionString="Data Source=(localdb)\Projects;Initial Catalog=MiniTrello;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"/>
  <add name="MiniTrello.Remote" connectionString="Server=a71bbe8d-f996-41f5-9b93-a2fa004d618e.sqlserver.sequelizer.com;Database=dba71bbe8df99641f59b93a2fa004d618e;User ID=kfibkkvpbdiehlwg;Password=PgTFTxJo7SkNB2Pa7CY8ZKAa72h7jcSRdCkngy4aLeeNnkiizumVL3ydMSGZqLe4;"/>
</connectionStrings>